.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.message-container {
  color: white;
  overflow: auto;
}

.message-bar {
  display: flex;
  gap: 5px;
  margin-top: auto;
  padding: 10px;
  background-color: #2b2b2d;
}

.message-input {
  height: 25px;
  padding: 5px;
  flex: 1;
}

.message-button {
  margin-left: auto;
}

.message {
  display: flex;
  align-items: center;
  color: #aad28c;
  background-color: #323232;
  margin: 5px 0px;
  padding: 5px 10px;
}

.no-room {
  color: white;
}
