.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  align-self: flex-start;
  margin-bottom: 5px;
  font-size: medium;
  font-weight: 600;
}

.form-input {
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
}

.form-input-error {
  border: 1px solid red;
}

.form-error {
  align-self: flex-start;
  color: red;
  font-size: x-small;
}