.login-container {
  background-image: url('../../build/images/login_background_3.jpg');
  background-size: cover;
  background-position: center;
  padding: 0%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.login-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #38492d;
  opacity: 70%;
  width: 300px;
}

.login-button {
  padding: 9px 15px;
  background-color: white;
  color: white;
  background-color: #7e9f65;
  border: none;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.login-header h1 {
  margin: 0px 0px 5px 0px;
}

.login-header h4 {
  margin: 0px 0px 10px 0px;
}

.register-link {
  color: #aad28c;
  text-align: center;
}

.register-link:hover {
  color: white;
}
