.sidenav {
  background-color: #1e1e1e; /* set background color */
  color: #FFFFFF; /* set text color */
  width: 300px; /* set width */
  display: flex;
  flex-direction: column;
  border-right: 1px solid #323232;
}

.header {
  color: #aad28c;
  padding: 20px;
}

.nav-menu {
  height: 100%;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 10px 0px;
  height: 100%;
  box-sizing: border-box;
}

.nav-item {
  padding: 20px 10px;
  margin: 0% 10px;
  flex-grow: 1 0;
  cursor: pointer;
  color: #aad28c;
  box-sizing: border-box;
  border-radius: 5px;
}

.selected-nav-item {
  background-color: #323232;
}

.nav-item:hover {
  background-color: #323232;
}

.nav-header {
  font-size: xx-large;
  margin: 0%;
}

.nav-welcome {
  font-size: small;
  margin-top: 5px;
}

.logout-button {
  margin-top: auto;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  font-size: medium;
  font-weight: 600;
  width: 100%;
  background-color: #2b2b2d;
  color: #aad28c;
  border: none;
  overflow: visible;
  border: solid;
  border-color: #2b2b2d;
}

.logout-button:hover {
  border-color: #323232;
}

/* PAGE HEADER */
.page-header {
  display: flex;
  height: 61px;
  background-color: #323232;
}

.nav-header {
  display: flex;
  box-sizing: border-box;
  width: 300px;
  padding: 20px;
}

.content-header {
  display: flex;
  padding: 20px;
}

.header-title {
  font-size: large;
  color: #aad28c;
  padding: 0%;
  margin: 0%;
}

.header-button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-size: large;
  color: #aad28c;
}

.new-chat {
  margin-left: auto;
}

.unread-chats {
  margin-left: 10px;
}
